<section class="section">
	<div class="container">
		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Gardening</h2>
			</div>
			<div class="col-sm-6 text-sm-end">
				<a
					href="category/gardening"
					class="read-more"
					>View All</a
				>
			</div>
		</div>
		<div class="row">
			<% for( let i = 0; i < gardening.length; i++ ) { %>
			<div class="col-lg-4 mb-4">
				<div class="post-entry-alt">
					<a
						href="/single/<%= gardening[i]._id %>"
						class="img-link"
						><img
							src="<%= gardening[i].image %>"
							alt="Image"
							class="img-fluid"
					/></a>
					<div class="excerpt">
						<h2>
							<a href="/single/<%= gardening[i]._id %>"
								><%= gardening[i].title %></a
							>
						</h2>
						<div class="post-meta align-items-center text-left clearfix">
							<figure class="author-figure mb-0 me-3 float-start">
								<img
									src="images/person_1.jpg"
									alt="Image"
									class="img-fluid"
								/>
							</figure>
							<span class="d-inline-block mt-1"
								>By <a href="#"><%= gardening[i].author %></a></span
							>
							<span>&nbsp;-&nbsp; <%= gardening[i].date %></span>
						</div>

						<p class="text-truncate"><%= gardening[i].body %></p>
						<p>
							<a
								href="/single/<%= gardening[i]._id %>"
								class="read-more"
								>Continue Reading</a
							>
						</p>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</section>
