<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head') %>
	</head>
	<body>
		<!-- TODO home icon needs to be responsive -->
		<%- include('../partials/navbar') %>
		<main><%- body %></main>
		<%- include('../partials/footer') %> <%- include('../partials/scripts') %>
	</body>
</html>
