<% layout('layouts/boilerplate') %>

<section class="section bg-light">
	<div class="container">
		<div class="row align-items-stretch retro-layout">
			<div class="col-md-4">
				<% for( let i = 0; i < 2; i++ ) { %>
				<a
					href="/single/<%=blogs[i]._id%>"
					class="h-entry mb-30 v-height gradient"
				>
					<div
						class="featured-img"
						style="background-image: url(<%=blogs[i].image%>)"
					></div>

					<div class="text">
						<span class="date"><%=blogs[i].date%></span>
						<h2><%=blogs[i].title%></h2>
					</div>
				</a>
				<% } %>
			</div>
			<div class="col-md-4">
				<a
					href="/single/<%=blogs[2]._id%>"
					class="h-entry img-5 h-100 gradient"
				>
					<div
						class="featured-img"
						style="background-image: url(<%=blogs[2].image%>)"
					></div>

					<div class="text">
						<span class="date"><%=blogs[2].date%></span>
						<h2><%=blogs[2].title%></h2>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<% for( let i = 3; i < 5; i++ ) { %>
				<a
					href="/single/<%=blogs[i]._id%>"
					class="h-entry mb-30 v-height gradient"
				>
					<div
						class="featured-img"
						style="background-image: url(<%=blogs[i].image%>)"
					></div>

					<div class="text">
						<span class="date"><%=blogs[i].date%></span>
						<h2><%=blogs[i].title%></h2>
					</div>
				</a>
				<% } %>
			</div>
		</div>
	</div>
</section>
<!-- Category Section -->
<!-- TODO create route to query db for blogs in categories and display 5 -->

<!-- Category list left -->
<%- include('../layouts/category-list-right', {news}) %>
<!-- Four horizontal posts -->
<%- include('../layouts/4-horizontal', {conspiracy}) %>
<!-- Category list left -->
<%- include('../layouts/category-list-left', {technology}) %>
<!-- Category GRID view 3x3 -->
<%- include('../layouts/3x3-grid', {gardening}) %>
<!-- Category abstract view -->
<%- include('../layouts/category-abstract-view', {pets}) %>
